<link href="{{ asset('css/todoapp.css') }}" rel="stylesheet"/>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>test_app_todo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
    {% block content %}{% endblock %}
    </body>
</html>
