{%extends 'base.html.twig' %}

{% block content %}

    <div class="heading">
            <h2>To-Do List</h2>
        </div>
        <form method="POST" action="index.php">
            <input type="text" name="task" class="task_input" placeholder="This field is required">
            <button type="submit" class="add_btn" name="submit">Add Task</button>
            
        </form>

        <table>
            <thead>
                <tr>
                    <th>Nr</th>
                    <th>Task</th>
                    <th>Delete</th>
                </tr>
            </thead>
        
            <tbody>
            {% for ts in tasks %}
                <tr>
                    <td>{{ ts.id }}</td>
                    <td class="task">{{ ts.task }}</td>
                    <td class="delete">
                        <a href="index.php?del_task=<?php echo $row['id']; ?>">x</a>
                </td>
            </tr>
            {% endfor %}  
            </tbody>

        </table>

{% endblock %}