{%extends 'base.html.twig' %}

{% block content %}

    <div class="heading">
            <h2>To-Do List</h2>
        </div>
        <form method="POST" action="{{path('create_task')}}">
            <input type="text" name="task" class="task_input" placeholder="This field is required">
            <button type="submit" class="add_btn" name="submit">Add Task</button>
            
        </form>

        <table>
            <thead>
                <tr>
                    <th>Nr</th>
                    <th>Task</th>
                    <th>Delete</th>
                </tr>
            </thead>
            {% for tsk in tasks %}
                {% set counter = ( counter | default(0) ) + 1 %}
            <tbody>
                <tr>
                    <td>{{ counter }}</td>
                    <td class="task">{{ tsk.task }}</td>
                    <td class="delete">
                        <a href={{path('delete_task', {'id':tsk.id})}}>X</a>
                </td>
            </tr> 
            </tbody>
            {% endfor %}
        </table>

{% endblock %}